<div flex-gt-sm="80" flex="100" layout="column">
    <div class="breadcrumb-container">
        <p ng-bind="::vm.userIdentifier" class="profile-identifier">You</p>
        <h1 translate='user.views.profile.profile' class="profile-title">Profile</h1>
    </div>
    <div layout="row">
        <div class="loading-container" layout-align="center center" ng-if="!vm.loaded.user">
            <md-progress-circular md-mode="indeterminate" md-diameter="50"></md-progress-circular>
        </div>
        <div ng-show="vm.loaded.user" flex="100" flex-gt-sm="70" flex-gt-md="70"
             class="tab-you">
            <md-toolbar>
                <div class="md-toolbar-tools" layout-align="space-between center">
                    <span translate='avatar' class="profile-field-title">Avatar</span>
                    <div ng-click="vm.showAvatarDialog($event)" class="profile-add-btn">
                        + <span translate='add'>Add</span>
                    </div>
                </div>
            </md-toolbar>
            <md-list>
                <md-list-item class="md-2-line"
                              ng-repeat="avatar in vm.user.avatars track by avatar.label"
                              ng-click="vm.showAvatarDialog($event, avatar)"
                              aria-label="Avatar {{avatar.label}}">
                    <div class="md-list-item-text" layout="row" layout-align="start center">
                        <img ng-src="{{avatar.source}}" class="md-avatar" />
                        <p ng-bind="avatar.label"></p>
                    </div>
                </md-list-item>
            </md-list>
            <md-toolbar>
                <div class="md-toolbar-tools" layout-align="space-between center">
                    <span translate="full_name" class="profile-field-title">Full name</span>
                    <div ng-if="!vm.user.firstname || !vm.user.lastname"
                         ng-click="vm.showEditNameDialog($event)"
                         class="profile-add-btn">
                        + <span translate='add'>Add</span>
                    </div>
                </div>
            </md-toolbar>
            <md-list>
                <md-list-item class="md-2-line" ng-click="vm.showEditNameDialog($event)">
                    <div class="md-list-item-text">
                        <h4>
                            <span ng-bind="vm.user.firstname" class="text-basic"></span>
                            <span ng-bind="vm.user.lastname" class="text-basic"></span>
                        </h4>
                        <p translate="full_name" class="profile-field-desc">Full name</p>
                    </div>
                </md-list-item>
            </md-list>
            <md-toolbar>
                <div class="md-toolbar-tools" layout-align="space-between center">
                    <span translate='user.views.profile.emailaddresses' class="profile-field-title">Email addresses</span>
                    <div ng-click="vm.showEmailDetailDialog($event)"
                         class="profile-add-btn">
                        + <span translate='add'>Add</span>
                    </div>
                </div>
            </md-toolbar>
            <md-list>
                <div ng-repeat="email in vm.user.emailaddresses  track by email.label" layout="row"
                     layout-align="space-between center">
                    <md-list-item class="md-2-line" flex="80"
                                  ng-click="vm.showEmailDetailDialog($event, email)"
                                  aria-label="Email address">
                        <div class="md-list-item-text">
                            <h4 ng-bind=email.emailaddress class="text-basic"></h4>
                            <p class="profile-field-desc">{{ email.label | translate }}</p>
                        </div>
                    </md-list-item>
                    <p ng-if="email.verified" class="md-body-1 verified">
                        <i class="fa fa-check green"></i> <span translate='user.views.profile.verified'>Verified</span>
                    </p>
                    <md-button ng-click="vm.verifyEmailAddress($event, email)"
                               class="md-primary md-secondary"
                               ng-if="vm.loaded.verifiedEmails && !email.verified">
                        <span translate="verify">Verify</span>
                    </md-button>
                </div>
            </md-list>
            <md-toolbar>
                <div class="md-toolbar-tools" layout-align="space-between center">
                    <span translate='user.views.profile.phonenumbers' class="profile-field-title">Phone numbers</span>
                    <div ng-click="vm.showPhonenumberDetailDialog($event)"
                         class="profile-add-btn">
                        + <span translate='add'>Add</span>
                    </div>
                </div>
            </md-toolbar>
            <md-list>
                <div ng-repeat="phone in vm.user.phonenumbers track by phone.label"
                     layout="row" layout-align="space-between center">
                    <md-list-item class="md-2-line" flex="80"
                                  ng-click="vm.showPhonenumberDetailDialog($event, phone)"
                                  aria-label="Phone {{ phone.label }} - {{ phone.phonenumber }}">
                        <div class="md-list-item-text">
                            <h4 ng-bind="phone.phonenumber" class="text-basic"></h4>
                            <p class="profile-field-desc">{{ phone.label | translate }}</p>
                        </div>
                    </md-list-item>
                    <p ng-if="phone.verified" class="md-body-1 verified">
                        <i class="fa fa-check green"></i> <span translate='user.views.profile.verified'>Verified</span>
                    </p>
                    <md-button ng-click="vm.verifyPhone($event, phone)"
                               class="md-primary md-secondary"
                               ng-if="vm.loaded.verifiedPhones && !phone.verified">
                        <span translate="verify">Verify</span>
                    </md-button>
                </div>
            </md-list>
            <md-toolbar>
                <div class="md-toolbar-tools" layout-align="space-between center">
                    <span translate='user.views.profile.pubkeys' class="profile-field-title">Public keys</span>
                    <div ng-click="vm.showPublicKeyDetail($event)"
                         class="profile-add-btn">
                        + <span translate='add'>Add</span>
                    </div>
                </div>
            </md-toolbar>
            <md-list-item class="md-3-line"
                          ng-repeat="key in vm.user.publicKeys track by key.label"
                          ng-click="vm.showPublicKeyDetail($event, key)"
                          aria-label="Public key {{ key.label }}">
                <div class="md-list-item-text">
                    <h4 class="text-basic">{{ key.label }}</h4>
                </div>
            </md-list-item>
        </div>
    </div>
</div>
