<div id="slide7" class="footer" ng-if="showFooter()">
    <div class="content" layout="column" layout-gt-sm="row" layout-align="center center">
        <a href="https://gig.gitbooks.io/itsyouonline/content" class="de-btn de-btn--danger">
            <span translate='shared.directives.footer.documentation'>Documentation</span>
        </a>
        <a href="/apidocumentation" class="de-btn ml-2">
            <span translate='shared.directives.footer.apidocumentation'>API Documentation</span>
        </a>
        <!--<a href="https://gig.gitbooks.io/itsyouonline/content" class="de-btn de-btn&#45;&#45;warn">-->
            <!--<span translate='shared.directives.footer.source'>Source code</span>-->
        <!--</a>-->
    </div>
</div>
