<form layout="row" layout-align="center center" name="signupform" ng-submit="vm.register()" novalidate>
    <div layout="column" flex="90" flex-gt-sm="80" class="page-offset-top">
        <div class="title-h1" translate='registration.views.registrationform.register'>Register</div>
        <md-card-avatar ng-if="vm.externalSite" layout="row" layout-align="center center">
            <div ng-show="vm.logo" class="organization-logo-container" layout="row" layout-align="center center">
                <img ng-src="{{ ::vm.logo }}"/>
            </div>
        </md-card-avatar>
        <md-card-title>
            <md-card-title-text ng-if="!vm.externalSite">
            </md-card-title-text>
            <md-card-title-text ng-if="vm.externalSite">
                <div layout="column">
                    <p class="loginprompt" ng-if="!vm.description" translate='oauth_default_description'
                       translate-values="{externalsite: vm.externalSite}">
                        Dear {{vm.externalsite}} user, access to {{vm.externalsite}} services is managed by the ItsYou.Online identity management system. To proceed, please login or register at ItsYou.Online.
                    </p>
                    <p class="loginprompt" ng-if="vm.description" ng-bind="vm.description"></p>
                </div>
            </md-card-title-text>
        </md-card-title>

        <div ng-if="!vm.is2FaModeChecking" 
            class="steps reg-steps">
            <div ng-class="{ 'step--active': vm.selectedTab === 0 }" class="step"
                 ng-click="vm.goToTheTab(0)">
                <div class="step-num">1</div>
                <div class="step-title text-basic" 
                translate="reg_step_basic">Basic Info</div>
            </div>
            <div ng-if="vm.is2FaMode" 
                ng-class="{ 'step--active': vm.selectedTab === 1 }" class="step"
                 ng-click="vm.goToTheTab(1)">
                <div class="step-num">2</div>
                <div class="step-title text-basic"
                translate="reg_step_phone">Phone Validation</div>
            </div>

            <div ng-if="vm.is2FaMode" 
                ng-class="{ 'step--active': vm.selectedTab === 2 }" class="step"
                 ng-click="vm.goToTheTab(2)">
                <div class="step-num">
                    3
                </div>
                <div class="step-title text-basic"
                translate="reg_step_email">Email Validation</div>
            </div>
            <div ng-if="!vm.is2FaMode" 
                ng-class="{ 'step--active': vm.selectedTab === 1 }" class="step"
                 ng-click="vm.goToTheTab(1)">
                <div class="step-num">
                    2
                </div>
                <div class="step-title text-basic"
                translate="reg_step_email">Email Validation</div>
            </div>

            <div ng-if="vm.is2FaMode" 
                ng-class="{ 'step--active': vm.selectedTab === 3 }" class="step"
                 ng-click="vm.goToTheTab(3)">
                 <div class="step-num">
                    4
                </div>
                <div class="step-title text-basic"
                translate="reg_step_profile">Profile</div>
            </div>
            <div ng-if="!vm.is2FaMode" 
                ng-class="{ 'step--active': vm.selectedTab === 2 }" class="step"
                 ng-click="vm.goToTheTab(2)">
                 <div class="step-num">
                    3
                </div>
                <div class="step-title text-basic"
                translate="reg_step_profile">Profile</div>
            </div>
        </div>

        <md-card-content class="register-tabs">
            <md-tabs md-align-tabs="top" md-dynamic-height md-selected="vm.selectedTab" class="registration-tabs">
                <md-tab md-on-select="vm.onTabSelected(0)">
                    <md-tab-body>
                        <div layout="column" class="form">
                            <div class="validation-error text-align-center" ng-if="vm.emailduplicate || vm.phoneduplicate"
                                 layout="column" layout-allign="center center">
                                <span translate='account_exists_email' ng-if="vm.emailduplicate">
                                    According to our database this email address is already linked to an ItsYou.Online account.
                                </span>
                                <span translate='account_exists_phone' ng-if="vm.phoneduplicate">
                                    According to our database this phone number is already linked to an ItsYou.Online account.
                                </span>
                                <a ng-click="vm.goToLogin()" translate="go_to_login" class='pointer'>
                                    Please click here to login.
                                </a>
                                <a ng-click="vm.goToForgotPassword()" translate='go_to_forgot_password' class='pointer'>
                                    If you forgot your password please click here.
                                </a>
                            </div>

                            <div layout="column"
                                 layout-gt-xs="row"
                                 layout-align="start start"
                                 layout-align-gt-xs="center center"
                                 class="form-line">
                                <label flex="100"
                                       flex-gt-xs="20"
                                       for="firstname"
                                       translate="user.views.namedialog.firstname"
                                       class="text-basic form-label">First name</label>
                                <div flex="100"
                                     flex-gt-xs="30">
                                    <input id="firstname"
                                           ng-model="vm.firstname"
                                           required
                                           name="firstname"
                                           type="text"
                                           ng-maxlength="30"
                                           ng-minlength="2"
                                           ng-change="vm.resetValidation('firstname')"
                                           class="form-control">
                                    <div ng-messages="signupform.firstname.$error" class="error-messages">
                                        <div ng-message="pattern,invalid_first_name" translate='invalid_first_name'>
                                            Invalid first name. Only letters, -, _, '
                                            and spaces are allowed. Names have a
                                            length of 2 to 30 characters.
                                        </div>
                                        <div ng-message="minlength" translate="name_minlength">Name must contain at least 2 characters</div>
                                        <div ng-message="maxlength" translate="name_maxlength">Name can contain at most 30 characters</div>
                                    </div>
                                </div>
                            </div>

                            <div layout="column"
                                 layout-gt-xs="row"
                                 layout-align="start start"
                                 layout-align-gt-xs="center center"
                                 class="form-line">
                                <label flex="100"
                                       flex-gt-xs="20"
                                       for="lastname"
                                       translate="user.views.namedialog.lastname"
                                       class="text-basic form-label">Last name</label>
                                <div flex="100"
                                     flex-gt-xs="30">
                                    <input id="lastname" ng-model="vm.lastname" required name="lastname" type="text"
                                           ng-maxlength="30" ng-minlength="2" ng-change="vm.resetValidation('lastname')" class="form-control">
                                    <div ng-messages="signupform.lastname.$error" class="error-messages">
                                        <div ng-message="pattern,invalid_last_name" translate='invalid_last_name'>
                                            Invalid last name. Only letters, -, _, '
                                            and spaces are allowed. Names have a
                                            length of 2 to 30 characters.
                                        </div>
                                        <div ng-message="minlength" translate="name_minlength">Name must contain at least 2 characters</div>
                                        <div ng-message="maxlength" translate="name_maxlength">Name can contain at most 30 characters</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-line">
                                <telinput phonenumber="vm.sms" error="vm.phone.validationerrors"></telinput>
                            </div>
                            <div layout="column"
                                 layout-gt-xs="row"
                                 layout-align="start start"
                                 layout-align-gt-xs="center center"
                                 class="form-line">
                                <label flex="100"
                                       flex-gt-xs="20"
                                       for="email"
                                       translate="registration.views.registrationform.email"
                                       class="text-right text-basic form-label">Email</label>
                                <div flex="100"
                                     flex-gt-xs="30">
                                    <input ng-model="vm.email" required name="email" type="email" id="email" ng-maxlength="80"
                                           ng-pattern="/[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?\.)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$/"
                                           ng-change="vm.resetValidation('email')" class="form-control">
                                    <div ng-messages="signupform.email.$error" ng-if="signupform.email.$touched" class="error-messages">
                                        <div ng-message="email" translate="invalid_email_address">Invalid email address</div>
                                        <div ng-message="md-maxlength" translate='emailmaxlength'>The email address cannot be longer than 80
                                            characters
                                        </div>
                                        <div ng-message="pattern" translate='invalid_email_address'>Invalid email address</div>
                                        <div ng-message='email_already_used' translate='email_already_used'>This email is already in use</div>
                                    </div>
                                </div>
                            </div>
                            <div layout="column"
                                 layout-gt-xs="row"
                                 layout-align="start start"
                                 layout-align-gt-xs="center center"
                                 class="form-line">
                                <label flex="100"
                                       flex-gt-xs="20"
                                       for="password"
                                       translate="registration.views.registrationform.password"
                                       class="text-right text-basic form-label">Password</label>
                                <div flex="100"
                                     flex-gt-xs="30">
                                    <input ng-model="vm.password" required name="password" type="password" minlength="6"
                                           ng-minlength="6" id="password" class="form-control">
                                    <div ng-messages="signupform.password.$error" class="error-messages">
                                        <div ng-message="minlength" translate='registration.views.registrationform.invalidpassword'>Password should contain at least 6 characters</div>
                                        <div ng-message="invalid_password" translate='registration.views.registrationform.invalidpassword'>Password should contain at least 6 characters</div>
                                    </div>
                                </div>
                            </div>
                            <div layout="column"
                                 layout-gt-xs="row"
                                 layout-align="start start"
                                 layout-align-gt-xs="center center"
                                 class="form-line">
                                <label flex="100"
                                       flex-gt-xs="20"
                                       for="passwordvalidation"
                                       translate="registration.views.registrationform.confirmpassword"
                                       class="text-right text-basic form-label">Password confirmation</label>
                                <div flex="100"
                                     flex-gt-xs="30">
                                    <input ng-model="vm.passwordvalidation" required name="passwordvalidation"
                                           password-validation="vm.password" id="passwordvalidation" type="password" class="form-control">
                                    <div ng-if="signupform.passwordvalidation.$touched" ng-messages="signupform.passwordvalidation.$error" class="error-messages">
                                        <div ng-message="passwordIdentical" translate='registration.views.registrationform.passwordmatch'>The passwords do not match</div>
                                    </div>
                                </div>
                            </div>
                            <div layout="column"
                                 layout-gt-xs="row"
                                 layout-align="start start"
                                 layout-align-gt-xs="center center"
                                 class="form-line">
                                <div flex="100"
                                     flex-gt-xs="20" class="form-label"></div>
                                <div flex="100"
                                     flex-gt-xs="30">
                                    <button type="button"
                                            ng-disabled="!vm.basicInfoValid()"
                                            ng-click="vm.goToNextTabIfValid()"
                                            class="de-btn de-btn--warn" translate="next">
                                        Next Step
                                    </button>
                                    <!-- <div class="reg-agreement">
                                        By next step, you agree to the <a href="#" class="de-link-light">Terms of Service</a>  and <a href="#" class="de-link-light">Privacy Policy</a>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </md-tab-body>
                </md-tab>
                <md-tab ng-if="!vm.is2FaModeChecking && vm.is2FaMode" 
                        ng-disabled="!vm.basicInfoValid()" 
                        md-on-select="vm.onTabSelected(1)">
                    <md-tab-label>
                        <h3 translate='validation'>Validation</h3>
                    </md-tab-label>
                    <md-tab-body>
                        <div layout="column" layout-align="center center" ng-if="vm.phoneConfirmed" style="margin-bottom: 50px;"flex>
                            <div layout="row" layout-align="center center">
                                <div flex></div>
                                <i class="fa fa-thumbs-o-up fa-5x"></i>
                                <div flex></div>
                            </div>
                            <h2 class="text-align-center all-caps" translate="great_success">SUCCESS</h2>
                        </div>
                        <div layout="column" class="form">
                            <div layout="row"
                                 layout-align="start start"
                                 layout-align-gt-xs="center center"
                                 class="form-line">
                                <label flex="100"
                                       flex-gt-xs="20"
                                       for="smscode"
                                       translate="smscode"
                                       class="text-right text-basic form-label">SMS Code</label>
                                <div flex="100"
                                     flex-gt-xs="30">
                                    <input ng-model="vm.smscode" required name="smscode" ng-change="vm.codeUpdated()"
                                           id="smscode" ng-minlength="6" ng-maxlength="6" type="tel" class="form-control">
                                    <div ng-messages="signupform.smscode.$error" class="error-messages">
                                        <div ng-message="minlength" translate='sms_code_length'>The code has a length of 6 characters</div>
                                        <div ng-message="md-maxlength" translate='sms_code_length'>The code has a length of 6 characters</div>
                                        <div ng-message="invalid_sms_code" translate='invalid_sms_code'>Invalid sms code</div>
                                    </div>
                                </div>
                                <div flex="20">
                                    <button type="button"
                                            class="de-link-light reg-resend"
                                            ng-click="vm.resendValidation()"
                                            translate='registration.views.registrationsmsform.resend'>Resend Code</button>
                                </div>
                            </div>
                            <div layout="row" layout-align="center center" class="form-line">
                                <div flex="20" class="form-label"></div>
                                <div flex="30">
                                    <button type="button"
                                            ng-click="vm.goToNextTabIfValid()"
                                            class="de-btn de-btn--warn" translate="next">
                                        Next Step
                                    </button>
                                </div>
                                <div flex="20"></div>
                            </div>
                        </div>
                    </md-tab-body>
                </md-tab>
                <md-tab ng-disabled="!vm.basicInfoValid() || !vm.phoneConfirmed" md-on-select="vm.onTabSelected(2)">
                    <md-tab-body>
                        <div layout="column" layout-align="center center" ng-if="vm.emailConfirmed" style="margin-top: 50px; margin-bottom: 50px;"flex>
                            <div layout="row" layout-align="center center">
                                <div flex></div>
                                <i class="fa fa-thumbs-o-up fa-5x"></i>
                                <div flex></div>
                            </div>
                            <h2 class="text-align-center all-caps" translate="great_success">SUCCESS</h2>

                            <div class="text-align-center">
                                <button type="submit"
                                        class="de-btn de-btn--warn" translate="next">
                                    Next Step
                                </button>
                            </div>
                        </div>

                        <div  ng-if="!vm.emailConfirmed" layout="column" class="form">
                            <div layout="row" layout-align="center start" class="form-line">
                                <div flex="100" flex-gt-xs="50" class="text-basic">
                                    <div layout="row">
                                        <div flex="70">
                                            <div ng-if="!vm.emailConfirmed">
                                                Please validate your email address by clicking the link in the email we sent you.
                                                <br><br>
                                                IF YOU DID NOT RECEIVE AN EMAIL, PLEASE USE THE RESEND BUTTON BELOW.
                                                <br><br><br><br>
                                            </div>
                                            <button type="submit"
                                                    ng-disabled="!vm.basicInfoValid() || !vm.phoneConfirmed || !vm.emailConfirmed"
                                                    class="de-btn de-btn--warn" translate="next">
                                                Next Step
                                            </button>
                                        </div>
                                        <div flex="30">
                                            <button type="button"
                                                    class="de-link-light reg-resend reg-resend--noresp"
                                                    ng-click="vm.resendValidation()"
                                                    translate='resend_email'>Resend Email</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-tab-body>
                </md-tab>
            </md-tabs>
        </md-card-content>
    </div>
</form>
