<form ng-cloak layout="row" layout-align="center center" name="twoFaForm" ng-submit="vm.login()" novalidate>
        
        <div layout="column" flex="90" flex-gt-sm="80" class="page-offset-top">
            <div class="title-h1 text-center" translate='login.views.loginform.login'>Login</div>
            <div class="text-center mt-2" ng-bind="vm.getHelpText()"></div>
            <md-card-content class="login-card">
                    <div layout="column" class="form">
                        <div layout="column"
                            ng-show="vm.step === 'choice'"
                            layout-gt-xs="row"
                            layout-align="start start"
                            layout-align-gt-xs="center center"
                            class="form-line">
                           <label flex="100"
                                  flex-gt-xs="20"
                                  for="username"
                                  translate='login.views.twofactorauthentication.method'
                                  class="text-basic form-label">Authentication method</label>
                           <div flex="100"
                                flex-gt-xs="30">
                                <md-select ng-model="vm.selectedTwoFaMethod">
                                    <md-option ng-repeat="(method, label) in vm.possibleTwoFaMethods" value="{{ ::method }}"
                                                ng-bind="::label">
                                    </md-option>
                                </md-select>
                           </div>
                       </div>

                        <div layout="column"
                            ng-show="vm.step === 'code'"
                            layout-gt-xs="row"
                            layout-align="start start"
                            layout-align-gt-xs="center center"
                            class="form-line">
                           <div flex="100"
                                flex-gt-xs="30">
                                <input type="text" ng-maxlength="6" ng-minlength="6" required id="code"
                                        placeholder="{{ login.views.twofactorauthentication.code | translate }}"
                                        name="code" ng-model="vm.code" autocomplete="off" ng-change="vm.resetValidation()" autofocus class="form-control">
                                <div ng-messages="twoFaForm.code.$error" ng-if="twoFaForm.code.$touched" class="error-messages">
                                    <div ng-message="invalid_code" translate='login.views.twofactorauthentication.invalidcode'>Invalid code</div>
                                    <div ng-message="maxlength" translate='login.views.twofactorauthentication.codelength'>The code must be 6 characters long</div>
                                </div>
                           </div>
                       </div>
                    </div>
                    <div class="loading-container" layout="row" layout-align="center center" ng-show="vm.loading">
                            <md-progress-circular md-mode="indeterminate" md-diameter="50"></md-progress-circular>
                    </div>
                    <div class="text-align-center mt-3">
                        <button type="submit"
                            ng-show="vm.step === 'code'"
                            ng-disabled="!twoFaForm.$valid || vm.loading"
                            class="de-btn de-btn--warn" 
                            translate='login.views.twofactorauthentication.loginbtn'>
                            Log in
                        </button>
                        <button type="button"
                                ng-show="vm.step === 'choice'" 
                                ng-click="vm.nextStep()" 
                                translate='login.views.twofactorauthentication.next'
                            class="de-btn de-btn--warn" >
                            Next
                        </button>
                        <div class="mt-2">
                            <span ng-if="vm.shouldShowSendButton()" 
                                ng-click="vm.sendSmsCode()" 
                                translate='login.views.twofactorauthentication.resend'
                                class="de-link-light">
                                Resend code
                            </div>
                        </div>
                    </div>
                </md-card-content>
        </div>
</form>



<!-- <form ng-cloak layout="row" name="twoFaForm" ng-submit="vm.login()">
    <div flex></div>
    <md-card class="form-card" flex="100" flex-gt-xs="80" flex-gt-sm="50" flex-gt-md="40" flex-gt-lg="30">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline" translate='login.views.twofactorauthentication.login'>Login</span>
                <span class="md-subhead" ng-bind="vm.getHelpText()"></span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <div layout="column" ng-show="!vm.loading">
                <md-input-container ng-show="vm.step === 'choice'">
                    <label translate='login.views.twofactorauthentication.method'>Authentication method</label>
                    <md-select ng-model="vm.selectedTwoFaMethod">
                        <md-option ng-repeat="(method, label) in vm.possibleTwoFaMethods" value="{{ ::method }}"
                                   ng-bind="::label">
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container ng-show="vm.step === 'code'">
                    <label for="code" translate='login.views.twofactorauthentication.code'>Code</label>
                    <input type="text" md-maxlength="6" ng-minlength="6" required id="code"
                           name="code" ng-model="vm.code" autocomplete="off" ng-change="vm.resetValidation()" autofocus>
                    <div ng-messages="twoFaForm.code.$error" md-auto-hide="false">
                        <div ng-message="invalid_code" translate='login.views.twofactorauthentication.invalidcode'>Invalid code</div>
                        <div ng-message="md-maxlength" translate='login.views.twofactorauthentication.codelength'>The code must be 6 characters long</div>
                    </div>
                </md-input-container>
            </div>
            <div class="loading-container" layout="row" layout-align="center center" ng-show="vm.loading">
                    <md-progress-circular md-mode="indeterminate" md-diameter="50"></md-progress-circular>
            </div>
        </md-card-content>
        <md-card-actions layout="row"
                         layout-align="{{vm.shouldShowSendButton() ? 'space-between center' : 'end center'}}">
            <md-button class="md-raised md-primary" ng-show="vm.step === 'choice'" ng-click="vm.nextStep()" translate='login.views.twofactorauthentication.next'>
                Next
            </md-button>
            <md-button ng-if="vm.shouldShowSendButton()" class="md-raised" ng-click="vm.sendSmsCode()" translate='login.views.twofactorauthentication.resend'>
                Resend code
            </md-button>
            <md-button type="submit" class="md-raised md-primary" ng-disabled="!twoFaForm.$valid || vm.loading"
                       ng-show="vm.step === 'code'" translate='login.views.twofactorauthentication.loginbtn'>
                Login
            </md-button>
        </md-card-actions>
    </md-card>
    <div flex></div>
</form> -->
