<form ng-cloak layout="row" layout-align="center center" name="form" ng-submit="vm.submit()" novalidate>
        <div layout="column" flex="90" flex-gt-sm="80" class="page-offset-top">
            <a href="#/" class="de-link-light"><i class="fa fa-arrow-left mr-1"></i>Назад</a>
            <div class="title-h1 text-center" translate='validate_email'>Validate Email</div>
            <div class="text-center mt-2" ng-if="vm.emailSend" translate='email_validation_link'>An email validation link has been sent.</div>
            <md-card-content class="login-card">
                    <div layout="column" class="form">
                        <div layout="column"
                            ng-hide="vm.emailSend"
                            layout-gt-xs="row"
                            layout-align="start start"
                            layout-align-gt-xs="center center"
                            class="form-line">
                           <div flex="100"
                                flex-gt-xs="30">
                                <input type="text" required 
                                        ng-model="vm.login" ng-minlength="3"
                                        placeholder="{{ 'username_or_phone' | translate }}"
                                        name="login" ng-change="vm.clearValidation()" autofocus class="form-control">
                                <div ng-messages="form.login.$error" ng-if="form.login.$touched" class="error-messages">
                                    <div ng-message="minlength" translate='username_minlength'>Username must be at least 3 characters long</div>
                                    <div ng-message="no_email_addresses" translate='no_email_addresses'>This user does not have any registered email addresses</div>
                                    <div ng-message="has_validated_email" translate='has_validated_email'>
                                        This user already has at least 1 validated email address, or ongoing email address validation
                                    </div>
                                    <div ng-message="invalid" translate='user_not_found'>A user with this username could not be found</div>
                                    <div ng-message="generic" translate='unable_to_validate_email'>Unable to valildate any email address for this user</div>
                                </div>
                           </div>
                       </div>
                    </div>
                    <div class="loading-container" layout="row" layout-align="center center" ng-show="vm.loading">
                            <md-progress-circular md-mode="indeterminate" md-diameter="50"></md-progress-circular>
                    </div>
                    <div class="text-align-center mt-3">
                        <button type="submit"
                            ng-disabled="!form.$valid" ng-if="!vm.emailSend" translate='send_email'
                            class="de-btn de-btn--warn" >
                            Send email
                        </button>
                    </div>
            </md-card-content>
        </div>
</form>